.formWrapper{
    display: flex;
    padding: 64px 12px 64px 64px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 1px 4px 16px 0px #00000069;
    min-width: 700px;
}

.formContent {
    flex: 1;
}

.formHeading{
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 24px;
    animation: changeColor 1.5s ease infinite;
}

.formLabel{
    display: block;
    margin-bottom: 8px;
    font-size: 1.1rem;
    color: #727272;
    letter-spacing: 1px;
}

.formLabel:focus{
    color: #000;
}

.formInput{
    border: none;
    border-bottom: 1px solid rgb(195, 195, 195);
    outline: none;
    padding: 6px 0;
    margin-bottom: 4px;
    font-size: 0.9rem;
    width: 100%;
    transition: all 0.2s ease-in-out;
}

.formInput:focus{
    color: #000;
    border-bottom: 1px solid #000;
}

.formInput::placeholder{
    transition: all 0.2s linear;
}

.formInput:focus::placeholder{
    color: black;
}

.formItem{
    margin-bottom: 8px;
}

.validationText {
    font-size: 0.8rem;
    color: red;
    margin-top: 2px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

#validationPasswd{
    min-height: 29px;
}

#validationRePasswd{
    min-height: 29px;
}

.formPassWd{
    position: relative;
}

.pw-toggle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    color: #727272;
    cursor: pointer;
}

.formBtn{
    background: conic-gradient(at 125% 180%, #b78cf7, #ff7c94, #ffcf0d, #ff7c94, #b78cf7);
    outline: none;
    border: none;
    padding: 12px 36px;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 10px;
    margin: 12px 0 24px;
    letter-spacing: 1px;
    cursor: pointer;
    color: #fff;
    transition: all .3s linear;
}

.formBtn:hover{
    background: conic-gradient(at 125% 50%, #b78cf7, #ff7c94, #ffcf0d, #ff7c94, #b78cf7);
}

.signInRcm{
    font-size: 1.1rem;
}

.signInRcm a {
    color: #ff8a7d;
}

.formImgWrapper{
    display: flex;
    overflow: hidden;
}

.formImg{
    width: 300px;
    object-fit: cover;
    margin: auto;
    animation: rotation 33s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes changeColor{
    0%{
        color: #f67ea0
    }
    25%{
        color: #e283bc;
    }
    50%{
        color: #ff897f;
    }
    100%{
        color: #ffa64e;
    }
}

.opacity1{
    opacity: 1;
}

.red{
    color: #f03a3a;
}

.green{
    color: #18af0c;
}