.dashboard{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.dashboardWords{
    margin: auto;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 16px;
    font-size: 5rem;
    text-shadow: 8px 2px black;
}

.dashboardNav{
    position: absolute;
    top: 36px;
    left: 60px;
    display: flex;
    gap: 30px;
}

.dashboardItems{
    display: inline-block;
}

.dashboardLink{
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    letter-spacing: 2px;
}