
.navigatorWrapper{
    position: absolute;
    top: 36px;
    left: 60px;
    display: flex;
    gap: 30px;
    z-index: 1;
}

.navigatorItems{
    display: inline-block;
}

.navigatorLink{
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    letter-spacing: 2px;
}